<link href='http://fonts.googleapis.com/css?family=Muli:400italic' rel='stylesheet' type='text/css'>
<style>
    buttom {
        height: 36px !important;
        margin-bottom: 5px;
    }
</style>

<B><p style="text-align: center; font-family: 'Muli', sans-serif; font-size: 30px; color: #23527c">DICOM Library Service </p></B>

<p style="text-align: justify; font-family: 'Muli', sans-serif; font-size: 17px; padding: 25px;">Digital Imaging and Communications in Medicine (DICOM) is a standard for handling, storing, printing, and transmitting information in medical imaging. It includes a file format definition and a network communications protocol. The communication protocol is an application protocol that uses TCP/IP to communicate between systems. DICOM files can be exchanged between two entities that are capable of receiving image and patient data in DICOM format. </p>

<div class="owl-carousel" id="owl-demo">
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-1.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-2.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-3.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-4.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-5.jpg"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-6.jpg"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-1.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-2.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-3.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-4.png"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-5.jpg"></div>
  <div class="item"><img class="dicom_corousel_img" src="/assets/DICOM-Image-6.jpg"></div>
</div>

<br>

<div style="text-align: center;">
<%= link_to 'DICOM Remote Viewing', webcasts_dicom_viewing_path, :class => "btn btn-primary" %>
</div>

<script>
    $("#owl-demo").owlCarousel({
        autoPlay: 3000, //Set AutoPlay to 3 seconds
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3],
    })
</script>

<br><br><br><br><br><br><br><br><br>

