


  <!-- SIPML5 API:
  DEBUG VERSION: 'SIPml-api.js'
  RELEASE VERSION: 'release/SIPml-api.js'
  -->
  <!--<script src="SIPml-api.js?svn=230" type="text/javascript"> </script>-->

  <!-- Styles -->
  <style type="text/css">

      body{
          padding-top: 80px;
          padding-bottom: 40px;
      }
      .navbar-inner-red {
          background-color: #600000;
          background-image: none;
          background-repeat: no-repeat;
          filter: none;
      }
      .full-screen{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
      }
      .normal-screen{
          position: relative;
      }
      .call-options {
          padding: 5px;
          background-color: #f0f0f0;
          border: 1px solid #eee;
          border: 1px solid rgba(0, 0, 0, 0.08);
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          -webkit-transition-property: opacity;
          -moz-transition-property: opacity;
          -o-transition-property: opacity;
          -webkit-transition-duration: 2s;
          -moz-transition-duration: 2s;
          -o-transition-duration: 2s;
      }
      .tab-video,
      .div-video{
          width: 100%;
          height: 0px;
          -webkit-transition-property: height;
          -moz-transition-property: height;
          -o-transition-property: height;
          -webkit-transition-duration: 2s;
          -moz-transition-duration: 2s;
          -o-transition-duration: 2s;
      }
      .label-align {
          display: block;
          padding-left: 15px;
          text-indent: -15px;
      }
      .input-align {
          width: 13px;
          height: 13px;
          padding: 0;
          margin:0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
      }
      .glass-panel{
          z-index: 99;
          position: fixed;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          opacity: 0.8;
          background-color: Gray;
      }
      .div-keypad {
          z-index: 100;
          position: fixed;
          -moz-transition-property: left top;
          -o-transition-property: left top;
          -webkit-transition-duration: 2s;
          -moz-transition-duration: 2s;
          -o-transition-duration: 2s;
      }

      .previewvideo
      {
          position: absolute;
          width: 88px;
          height: 72px;
          margin-top: -42px;
      }

  </style>
  <!-- Le fav and touch icons -->

<!-- Javascript code -->
<script type="text/javascript">



</script>
<div class="container">
  <div class="row-fluid">
    <div class="span4 well">
      <label style="width: 100%;" align="center" id="txtRegStatus">
      </label>
      <h2>
        Registration</h2>
      <br />
      <table style='width: 100%'>
        <tr>
          <td>
            <label style="height: 100%">
              Display Name:</label>
          </td>
          <td>
            <input type="text" style="width: 100%; height: 100%" id="txtDisplayName" value=""
                   placeholder="e.g. Simoy Leon" />
          </td>
        </tr>
        <tr>
          <td>
            <label style="height: 100%">
              Private Identity<sup>*</sup>:</label>
          </td>
          <td>
            <input type="text" style="width: 100%; height: 100%" id="txtPrivateIdentity" value=""
                   placeholder="e.g. simyleo" />
          </td>
        </tr>
        <tr>
          <td>
            <label style="height: 100%">
              Public Identity<sup>*</sup>:</label>
          </td>
          <td>
            <input type="text" style="width: 100%; height: 100%" id="txtPublicIdentity" value=""
                   placeholder="e.g. sip:simyleo@sip2sip.info" />
          </td>
        </tr>
        <tr>
          <td>
            <label style="height: 100%">Password:</label>
          </td>
          <td>
            <input type="password" style="width: 100%; height: 100%" id="txtPassword" value="" />
          </td>
        </tr>
        <tr>
          <td>
            <label style="height: 100%">Realm<sup>*</sup>:</label>
          </td>
          <td>
            <input type="text" style="width: 100%; height: 100%" id="txtRealm" value="" placeholder="e.g. sip2sip.info" />
          </td>
        </tr>
        <tr>
          <td colspan="2" align="right">
            <input type="button" class="btn btn-success" id="btnRegister" value="LogIn" disabled onclick='sipRegister();' />
            &nbsp;
            <input type="button" class="btn btn-danger" id="btnUnRegister" value="LogOut" disabled onclick='sipUnRegister();' />
          </td>
        </tr><!--
        <tr>
          <td colspan="3">
            <p class="small"><sup>*</sup> <i>Mandatory Field</i></p>
          </td>
        </tr>-->
      </table>
    </div>
    <div id="divCallCtrl" class="span7 well" style='display:table-cell; vertical-align:middle'>
      <label style="width: 100%;" align="center" id="txtCallStatus">
      </label>
      <h2>
        Call control
      </h2>
      <br />
      <table style='width: 100%;'>
        <tr>
          <td style="white-space:nowrap;">
            <input type="text" style="width: 100%; height:100%;" id="txtPhoneNumber" value="" placeholder="Enter phone number to call" />
          </td>
        </tr>
        <tr>
          <td colspan="1" align="right">
            <div class="btn-toolbar" style="margin: 0; vertical-align:middle">
              <!--div class="btn-group">
                  <input type="button" id="btnBFCP" style="margin: 0; vertical-align:middle; height: 100%;" class="btn btn-primary" value="BFCP" onclick='sipShareScreen();' disabled />
              </div-->
              <div id="divBtnCallGroup" class="btn-group">
                <button id="btnCall" disabled class="btn btn-primary" data-toggle="dropdown">Call</button>
              </div>&nbsp;&nbsp;
              <div class="btn-group">
                <input type="button" id="btnHangUp" style="margin: 0; vertical-align:middle; height: 100%;" class="btn btn-primary" value="HangUp" onclick='sipHangUp();' disabled />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td id="tdVideo" class='tab-video'>
            <div id="divVideo" class='div-video'>
              <div id="divVideoRemote" style='position:relative; border:1px solid #009; height:100%; width:100%; z-index: auto; opacity: 0'>
                <video class="video" width="100%" height="100%" id="video_remote" autoplay="autoplay" style="opacity: 0;
                        background-color: #000000; -webkit-transition-property: opacity; -webkit-transition-duration: 2s;">
                </video>
              </div>

              <div id="divVideoLocalWrapper" style="margin-left: 0px; border:0px solid #009; z-index: 1000; display: none;">
                <iframe class="previewvideo" style="border:0px solid #009; z-index: 1000"> </iframe>
                <div id="divVideoLocal" class="previewvideo" style=' border:0px solid #009; z-index: 1000'>
                  <video class="video" width="100%" height="100%" id="video_local" autoplay="autoplay" muted="true" style="opacity: 0;
                          background-color: #000000; -webkit-transition-property: opacity;
                          -webkit-transition-duration: 2s;">
                  </video>
                </div>
              </div>
              <div id="divScreencastLocalWrapper" style="margin-left: 90px; border:0px solid #009; z-index: 1000; display: none;">
                <iframe class="previewvideo" style="border:0px solid #009; z-index: 1000"> </iframe>
                <div id="divScreencastLocal" class="previewvideo" style=' border:0px solid #009; z-index: 1000'>
                </div>
              </div>
              <!--div id="div1" style="margin-left: 300px; border:0px solid #009; z-index: 1000">
                  <iframe class="previewvideo" style="border:0px solid #009; z-index: 1000"> </iframe>
                  <div id="div2" class="previewvideo" style='border:0px solid #009; z-index: 1000'>
                    <input type="button" class="btn" style="" id="Button1" value="Button1" /> &nbsp;
                    <input type="button" class="btn" style="" id="Button2" value="Button2" /> &nbsp;
                  </div>
              </div-->
            </div>
          </td>
        </tr>
        <tr>
          <td align='center'>
            <div id='divCallOptions' class='call-options' style='opacity: 0; margin-top: 0px'>
              <input type="button" class="btn" style="" id="btnFullScreen" value="FullScreen" disabled onclick='toggleFullScreen();' /> &nbsp;
              <input type="button" class="btn" style="" id="btnMute" value="Mute" onclick='sipToggleMute();' /> &nbsp;
              <input type="button" class="btn" style="" id="btnHoldResume" value="Hold" onclick='sipToggleHoldResume();' /> &nbsp;
              <input type="button" class="btn" style="" id="btnTransfer" value="Transfer" onclick='sipTransfer();' /> &nbsp;
              <input type="button" class="btn" style="" id="btnKeyPad" value="KeyPad" onclick='openKeyPad();' />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <br />

</div>
<!-- /container -->

<!-- Glass Panel -->
<div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>
<!-- KeyPad Div -->
<div id='divKeyPad' class='span2 well div-keypad' style="left:0px; top:0px; width:250; height:240; visibility:hidden">
  <table style="width: 100%; height: 100%">
    <tr><td><input type="button" style="width: 33%" class="btn" value="1" onclick="sipSendDTMF('1');"/><input type="button" style="width: 33%" class="btn" value="2" onclick="sipSendDTMF('2');"/><input type="button" style="width: 33%" class="btn" value="3" onclick="sipSendDTMF('3');"/></td></tr>
    <tr><td><input type="button" style="width: 33%" class="btn" value="4" onclick="sipSendDTMF('4');"/><input type="button" style="width: 33%" class="btn" value="5" onclick="sipSendDTMF('5');"/><input type="button" style="width: 33%" class="btn" value="6" onclick="sipSendDTMF('6');"/></td></tr>
    <tr><td><input type="button" style="width: 33%" class="btn" value="7" onclick="sipSendDTMF('7');"/><input type="button" style="width: 33%" class="btn" value="8" onclick="sipSendDTMF('8');"/><input type="button" style="width: 33%" class="btn" value="9" onclick="sipSendDTMF('9');"/></td></tr>
    <tr><td><input type="button" style="width: 33%" class="btn" value="*" onclick="sipSendDTMF('*');"/><input type="button" style="width: 33%" class="btn" value="0" onclick="sipSendDTMF('0');"/><input type="button" style="width: 33%" class="btn" value="#" onclick="sipSendDTMF('#');"/></td></tr>
    <tr><td colspan=3><input type="button" style="width: 100%" class="btn btn-medium btn-danger" value="close" onclick="closeKeyPad();" /></td></tr>
  </table>
</div>
<!-- Call button options -->
<ul id="ulCallOptions" class="dropdown-menu" style="visibility:hidden">
  <li><a href="#" onclick='sipCall("call-audio");'>Audio</a></li>
  <li><a href="#" onclick='sipCall("call-audiovideo");'>Video</a></li>
  <li id='liScreenShare' ><a href="#" onclick='sipShareScreen();'>Screen Share</a></li><!--
  <li class="divider"></li>
  <li><a href="#" onclick='uiDisableCallOptions();'><b>Disable these options</b></a></li>-->
</ul>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -- >


<!-- Audios -->
<audio id="audio_remote" autoplay="autoplay" />
<% #audio_tag("ringtone.wav", id="ringtone")%>
<audio id="ringtone" loop src="../audios/ringtone.wav" />
<audio id="ringbacktone" loop src="../audios/ringbacktone.wav" />
<audio id="dtmfTone" src="../audios/dtmf.wav" />

<!--
    Microsoft Internet Explorer extension
    For now we use msi installer as we don't have trusted certificate yet :(
-->
<!--object id="webrtc4ieLooper" classid="clsid:7082C446-54A8-4280-A18D-54143846211A" CODEBASE="http://sipml5.org/deploy/webrtc4all.CAB"> </object-->

<!-- GOOGLE ANALYTICS -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-6868621-19");
        pageTracker._trackPageview();
    } catch (err) { }
</script>



