<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Muli:400italic' rel='stylesheet' type='text/css'>
</head>
<body class="container">
<br>
<br>


<B><p style="text-align: center; font-family: 'Muli', sans-serif; font-size: 30px;">What Is Telemedicine?</p></B>
<br>
<div style="text-align: center;">
  <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="740" height="450" src="https://prezi.com/embed/e2grh39ae4jx/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;PARENT_REQUEST_ID=b08c5bca3659eada#"></iframe>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
