<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Muli:400italic' rel='stylesheet' type='text/css'>
</head>
<body class="container">
<br>
<br>


<B><p style="text-align: center; font-family: 'Muli', sans-serif; font-size: 30px;">How to do the CRUD For a Web App in Ruby on Rails</p></B>
<br>
<div style="text-align: center;">
  <%= video_tag "video-tutorial.mp4", :size => "680x400", :controls => true %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
