<HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries>
  <WARNING: Respond.js doesn't work if you view the page via file://>
  <[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

  <div id="wrapper">
    <div id="sidebar-wrapper" class="col-md-1 scroll-me">
      <div id="sidebar">
        <ul class="nav list-group">
          <li><a href="#home"> <i class="ion-ios-home-outline"></i></a></li>
          <li><a href="#about"> <i class="ion-ios-book-outline"></i></a></li>
          <li><a href="#doctors"> <i class="ion-ios-chatboxes-outline"></i></a></li>
          <li><a href="#email-subscribe"> <i class="ion-ios-personadd-outline"></i></a></li>
          <li><a href="#contact"> <i class="ion-ios-location-outline"></i></a></li>
        </ul>
      </div>
    </div>
    <div id="main-wrapper" class="col-md-11 pull-right">
      <div id="main">
        <div id="home">
          <div class="overlay">
            <div class="container">
              <div class="row scroll-me" >
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <!--h1>CLICK</h1-->
                  <p class="animated infinite pulse">Click</p>
                  <h1>What Is Its Purpose?</h1>
                  <h4>
                    Click is a portal web about Telemedicine, this is a new branch of medicine, that tries to help to people to have reach to health by using technologies and telecommunications devices for contact to doctors and other type of medicine specialists for their control and diagnostic.
                  </h4>
                  <a href="#about" class="btn btn-custom btn-one" >I Want to Know More</a>
                  <a href="#email-subscribe" class="btn btn-custom btn-one" >Subscribe Right Now </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--HOME SECTION END  -->
        <!-- ABOUT SECTION START-->
        <section id="about">
          <div class="container">
            <h2 class="head-line">Is Possible to learn Even More and Easily?</h2>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">

                <p align="justify">
                  You can learn more about telemedicine if you take, at less one, of our courses on line, our courses are very easy to make and you will learn about the most new methods to apply telemedicine in actuality
                </p>
                <p align="justify">
                  May you Identify your skills and capabilities?, if yes, then begin right away:
                </p>
                <div class="row text-center">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row pad-bottom">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="icon-wrapper">
                          <a href="/welcome/doctors_courses" class="ion-ios-pulse-strong" title="Click here for courses for Doctors" style="color: #000000"></a>
                          <!--i class="ion-ios-pulse-strong" title="Click here for courses for Doctors"></i-->
                        </div>
                        <h4>I Am a Doctor </h4>
                        Very interested about health assistance from distance.

                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="icon-wrapper">
                          <a href="/welcome/developers_courses" class="ion-code-working" title="Click here for courses for Developers" style="color: #000000"></a>
                          <!--i class="ion-code-working" title="Click here for courses for Developers"></i-->
                        </div>
                        <h4>I Am a Developer  </h4>
                        Very interested about web development and app development.
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="icon-wrapper">
                          <a href="/welcome/researchers_courses" class="ion-clipboard" title="Click here for courses for Researchers" style="color: #000000"></a>
                          <!--i class="ion-clipboard" title="Click here for courses for Researchers"></i-->
                        </div>
                        <h4>I Am a Researcher</h4>
                        Very interested about academic researchers and other datas for analysing.
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center" >
                <img src="assets/e-learning.jpg" class="img-side" alt="" />
                <!--iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="550" height="400" src="https://prezi.com/embed/e2grh39ae4jx/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;PARENT_REQUEST_ID=b08c5bca3659eada#"></iframe-->
              </div>
            </div>
        </section>
        <!-- ABOUT SECTION END-->
        <!-- CLIENTS SECTION START-->
        <section id="doctors">
          <div class="overlay">
            <div class="container">
              <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border: 25px">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  doctor-cover" style="padding-top: 75px; padding-bottom: 75px;">
                  <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="testimonial-section">
                          Dr. Jay M. Lipoff is a chiropractor that I have
                          worked with over the past 5 years. He is
                          well-liked, personable, patient oriented and
                          always professional, with an excellent sense
                          of when to refer for further x-rays or scans.
                        </div>
                        <div class="testimonial-section-name">
                          <img src="assets/doctor1.png" alt="" class="img-circle" />
                          -  Dr. Jay M. Lipoff
                        </div>

                      </div>
                      <div class="item">
                        <div class="testimonial-section">
                          Dra. Margaret Dauphin-Van Dyk has provided chiropractic
                          services to a great number of  patients
                          over the years. She has always provided
                          care in a professional manner. She is very
                          accessible and responsible with her patients.
                        </div>
                        <div class="testimonial-section-name">
                          <img src="assets/doctor2.png" alt="" class="img-circle" />
                          -  Dra. Margaret Dauphin-Van Dyk
                        </div>

                      </div>
                      <div class="item">
                        <div class="testimonial-section">
                          Dr. Gregory Clarke is a professional that has
                          had hundreds of patients over the years and to
                          be so younger is one of the finest clinicians because
                          he is excellent at his trade.
                          He always has a smile on his face and has an
                          interpersonal communication with his patients.
                        </div>
                        <div class="testimonial-section-name">
                          <img src="assets/doctor3.png" alt="" class="img-circle" />
                          -  Dr. Gregory Clarke
                        </div>

                      </div>

                      <div class="item">
                        <div class="testimonial-section">
                          Dra. Aleksandra Orkiszewska is a surgeon, she had demonstrated
                          that she is a thorough, caring and intelligent
                          professional. Has a good sense about her, knowing
                          when to help someone with her own skilled hands
                          and when to reach out for help.
                        </div>
                        <div class="testimonial-section-name">
                          <img src="assets/doctor4.png" alt="" class="img-circle" />
                          -  Dra. Aleksandra Orkiszewska
                        </div>

                      </div>
                      <!--INDICATORS-->
                      <ol class="carousel-indicators carousel-indicators-set">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                        <li data-target="#carousel-example" data-slide-to="3"></li>
                      </ol>

                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- CLIENTS SECTION END-->
        <!-- SUBSCRIBE SECTION START-->
        <section id="email-subscribe" style="height: 620px;">
          <div class="articleContent">
            <article class="articuloPaty row text-center" style=" border-right: 1px solid black;">
              <div>
                <h1 class="text-left" style="margin-top: 10px;">Login</h1>
              </div>
              <div>
                <%= link_to 'Sing In', new_user_session_path, :class => "btn btn-primary btn-block" %>
              </div>
              <br>
              <p class="text-left">Are you register yet?</p>
              <p align="justify">Did you know that is more easy sign in with the same username and password you use to sign in to gmail, outlook or yahoo?</p>
            </article>
            <article class="articuloPaty row text-center" style="margin-left: 15px;">
              <div>
                <h1 class="text-left" style="margin-top: 10px;">Need an account?</h1>
              </div>
              <div>
                <%= link_to 'Register', new_user_registration_path, :class => "btn btn-primary btn-block" %>
              </div>
              <br>
              <p class="text-left">Need an account?</p>
              <p align="justify">For special accounts with credit term, or to be associated with an existing hospital account, please contact us.</p>
            </article>

          </div>


        </section>
        <!-- SUBSCRIBE SECTION END-->
        <!-- CONTACT SECTION START-->
        <section id="contact">
          <div class="overlay">
            <div class="container">
              <div class="row text-center" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  contact-cover" style="margin-left: 50px;">
                  <h2>Physical Location</h2>
                  <h3>Miranda State, Federal District</h3>
                  <h3>Venezuela</h3>
                  <h3>+58 426 204 4116</h3>
                  <h3>Customer Care: +58 212 383 1713</h3>
                  <div class="space"> </div>
                  <div class="social">
                    <a class="tryitbtn" href="http://www.facebook.com/html/" target="_blank" title="Facebook"><i class="fa fa-facebook "></i></a>
                    <a class="tryitbtn" href="http://www.twitter.com/html/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a class="tryitbtn" href="http://www.plus.google.com/html/" target="_blank" title="Google Plus"><i class="fa fa-google-plus "></i></a>
                    <a class="tryitbtn" href="http://www.linkedin.com/html/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CONATCT SECTION END-->
      </div>
    </div>
  </div>

  <script type='text/javascript' src='http://click2dial.org/c2c-api.js'></script>
  <script type='text/javascript'>
      c2c.from = 'cGF0cnlrc2ltQGdtYWlsLmNvbQ==';
      c2c.text = 'Call Us &raquo;';
      c2c.cls = 'btn btn-large btn-primary';
      c2c.config = {
          http_service_url: null,
          websocket_proxy_url: null,
          sip_outbound_proxy_url: null
      };
      c2c.init();
  </script>



