<style>
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 20px;
        font-size: 35px;
        color: #48A5FF;
        text-align: center;
    }

     div {
         display: block;
         width: 100%;
         text-align: center;
     }
     th, td {
         width: 5%;
         font-size: large;
         text-align: center;
         border: 1px solid black;
     }
     table {
         width: 70%;
         border-collapse: collapse;
         border: 1px solid black;
         margin-left: 15%;
     }
</style>


<h1>Meet The Doctors of Our Community</h1>

<div>

  <table>
    <tr ></tr>
    <tr>
      <td colspan="7" style="background-color: #46B8DA; height: 40px;"><B>Doctors</B></td>
    </tr>
    <tr>
      <th></th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Speciality</th>
      <th>Address</th>
      <th>Status</th>
    </tr>
    <% @doctors.each do |doctor| %>
        <tr>
          <td><img src="assets/avatar.png"></td>
          <td><%= doctor.name %></td>
          <td><%= doctor.email %></td>
          <td><%= doctor.phone %></td>
          <td><%= doctor.speciality %></td>
          <td><%= doctor.address %></td>
          <td><%= doctor.status %></td>
        </tr>
    <% end %>
  </table>

</div>
<br><br>
<%= link_to 'Register as a New Doctor', new_doctor_path, :class => "btn btn-primary" %>
