<!-- Styles -->
<style type="text/css">

    body{
        padding-top: 80px;
        padding-bottom: 40px;
    }
    h2 {
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 20px;
        line-height: 40px;
        font-size: 40px;
        color: #0094ff;
        text-align: center;
    }
    label{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        text-align: left;
        color: #080808;
        line-height: 36px;
    }
    .input{
        height: 36px !important;
        margin-bottom: 10px;
        width: 210px;
        padding-left: 10px;
        margin-left: 10px;
    }

</style>

<div class="container", style="width: 80%; margin-left: 33%;">
  <div class="row-fluid">
    <div class="span4 well" style="width: initial;">
      <label style="width: 100%;" align="center" id="txtRegStatus">
      </label>
      <h2>New Doctor</h2>
      <br />
      <%= form_for :doctor, url: doctors_path do |f| %>
          <table style='width: 100%' >
            <tr>
              <td>
                <label style="height: 100%">Name:</label>
              </td>
              <td>
                <%= @doctor.name %>
              </td>
            </tr>
            <tr>
              <td>
                <label style="height: 100%">E-mail:</label>
              </td>
              <td>
                <%= @doctor.email %>
              </td>
            </tr>
            <tr>
              <td>
                <label style="height: 100%">Phone:</label>
              </td>
              <td>
                <%= @doctor.phone %>>
              </td>
            </tr>
            <tr>
              <td>
                <label style="height: 100%">Speciality:</label>
              </td>
              <td>
                <%= @doctor.speciality %>
              </td>
            </tr>
            <tr>
              <td>
                <label style="height: 100%">Address:</label>
              </td>
              <td>
                <%= @doctor.address %>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right" class="actions" style="text-align: center;">
                <%= link_to 'Doctors', doctors_path, :class => "btn btn-primary" %>
              </td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
  <br />
</div>