<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Muli:400italic' rel='stylesheet' type='text/css'>
</head>
<body class="container">
<br>
<br>

<B><p style="text-align: center; font-family: 'Muli', sans-serif; font-size: 30px;">Know our Telemedicine Courses for Developers </p></B>

<br>

<div class="row centered">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-developers-1.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Program Your Applications</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <div id="option1">
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <button id="buy" class="btn btn-default">Buy Course</button></p>
        </div>
        <div id="option2">
          <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <button id="later" class="btn btn-default">Later</button></p>
        </div>
          <div id="pago_paypal">
          <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=ZJF233HM6UADU"
                  data-button="buynow" data-name="Course" data-shipping="0" data-env="sandbox"
          ></script>
        </div>


      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-developers-2.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">To Help People</h1>
        <br><br>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-developers-3.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Big Data</h1>
        <br><br>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

</div>

<div class="row centered">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-developers-4.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Share Progress</h1>
        <br><br>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-developers-5.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Data Processing</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-developers-6.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Create Solutions</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
    $("#option2").hide(50);
    $("#pago_paypal").hide(50);
    $("#buy").click(function() {
        $("#option1").hide(50);
        $("#option2").show(50);
        $("#pago_paypal").show(50);
    });
    $("#later").click(function() {
        $("#option2").hide(50);
        $("#option1").show(50);
        $("#pago_paypal").hide(50);
    });

</script>

</body>
</html>
