<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Muli:400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<br>
<br>

<B><p style="text-align: center; font-family: 'Muli', sans-serif; font-size: 30px;">Know our Telemedicine Courses for Doctors </p></B>

<br>

<div class="row centered">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-doctors-1.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Create Networks</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-doctors-2.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Schedule for Drugs</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-doctors-3.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Remote Monitoring</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

</div>

<div class="row centered">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-doctors-4.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Data Bank</h1>
        <br><br>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-doctors-5.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Permanent Observation</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-doctors-6.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Medical Histories</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
