<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Muli:400italic' rel='stylesheet' type='text/css'>
</head>
<body class="container">
<br>
<br>

<B><p style="text-align: center; font-family: 'Muli', sans-serif; font-size: 30px;">Know our Telemedicine Courses for Researchers </p></B>

<br>

<div class="row centered">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-researchers-1.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Auto Learning</h1>
        <br><br>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-researchers-2.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Publications</h1>
        <br><br>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-researchers-3.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Meet Colleages</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

</div>

<div class="row centered">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-researchers-4.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Teaching</h1>
        <br><br>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-researchers-5.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">Discuss Results</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course_size">
      <%= image_tag("course-researchers-6.png", :class => 'img_size')%>
      <div class="caption">
        <h3 style="text-align:center;">Use Telemedicine For</h3>
        <h1 style="text-align:center;">To Be Multifaceted</h1>
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tortor id massa gravida faucibus eget interdum nunc. Aenean porta quis turpis ac hendrerit. Quisque bibendum mollis dolor, sit amet sollicitudin metus dictum et. Etiam congue justo tortor.</p>
        <p align="center"><a href="#" class="btn btn-primary">Preveiew</a> <a href="#" class="btn btn-default">Buy Course</a></p>
      </div>
    </div>
  </div>

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
