﻿/*==========================================================
    Developed By:
    Patricia S. Hung L.
    twitter: @PatriciaHung1
    patryksim@gmail.com
========================================================  */

/*================================
    GOOGLE FONT
==================================*/

@import url(http://fonts.googleapis.com/css?family=Lato); /* FREE GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans); /* FREE GOOGLE FONTS */

/*================================
  GENERAL STYLES
==================================*/

/**html, body {
   font-family: 'Lato', sans-serif;
   line-height: 30px;
   font-size: 12px;
   height: 100%;
}*/


html, body {
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background: rgba(247,247,247,1);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}



section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 70px;
}

.text-right {
    text-align:right;
}

.head-line {
 margin-bottom: 20px;
line-height: 30px;
font-size: 25px;
color: #737373;
}


/*================================
  HEADER STYLES
==================================*/

#header {
    height: 50px; /* ajusta la altura total del header*/
    background-color:#46b8da; /* color de fondo*/
    color: #080808;
    position: fixed;  /* para ver el menu siempre a pesar de mover el contenido*/
    top: 0;
    width:100%;  /* ocupa todo el ancho de la pantalla */
    z-index:1050;  /* para evitar transparencias */
    margin:0 auto;  /* para pegarlo al borde superior de la vista*/
    font-weight: 200;
    font-size: 17px;

}

#header nav{
    color: #080808;
}
header .menu-links {
    vertical-align: baseline;
    padding-top:5px;
}

header .menu-links a {
   vertical-align: baseline;
   font-size:30px;
   color:#fff;
   font-weight:900;
   margin:15px;
}

header .menu-links a:hover, header .menu-links a:focus {
    vertical-align: baseline;
    text-decoration:none;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}
 a {
     color: #fff;
 }
   

/*================================
  HOME SECTION STYLES
==================================*/

#home {
    margin-top: 30px;
    background: url(../img/fondo.png) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height: 100%;
}

#home .overlay {
    padding-top: 55px;
    background-color: rgba(36, 36, 36, 0.8);
    min-height: 700px;
    padding-bottom: 40px;
}

#home h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 35px;
    color: #48A5FF;
    text-transform:uppercase;
}

#home p {
    font-family: 'Pacifico', cursive, sans-serif;
    padding-left: 10px;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 35px;
    color: #48A5FF;
}

#home h4 {
    text-align: justify;
    margin-bottom: 30px;
    line-height: 40px;
    font-size: 20px;
    color: #D0D0D0;
}

/*================================
  BUTTON STYLES
==================================*/
.btn-custom {
   min-height:60px;
    border-radius:30px;
-webkit-border-radius:30px;
-moz-border-radius:30px;
padding:15px 40px 15px 40px;
-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
   margin:25px 5px 5px 0px;
}

.btn-one {   
background-color: transparent;
border:5px solid #48A5FF; 
color:#000;       
  
}
 .btn-one:hover {
 background-color:#48A5FF;
 color:#fff;
 text-decoration:none;
    }

 .btn-two {   
background-color: #48A5FF;
border:5px solid #48A5FF; 
color:#fff;       
  
}
 .btn-two:hover {
 background-color:transparent;
 color:#000;
 text-decoration:none;
    }
.btn-three {   
   
background-color:transparent;
border:5px solid #737373; 
color:#000;       
  
}
 .btn-three:hover {

 background-color:#737373;
 color:#fff;
 text-decoration:none;
    }

 
 /*================================
    ABOUT STYLES
==================================*/
#about {
    height: 100%;
    background-color: #fff;
}
#about h2 {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 40px;
    color: #0094ff;
    text-align: center;
}

#about p {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
}

.icon-wrapper {
    padding-bottom:20px;
    padding-top:20px;
    font-size:50px;
}
 
.img-side {
    height: 400px;
    font-weight: 500;
    background-color: #ffffff;
    vertical-align: middle;
}
 /*================================
    DOCTORS SECTION STYLES
==================================*/

#doctors {
    background: url(../img/doctors.png) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height: 100%;
}

#doctors .overlay {
        background-color: rgba(36, 36, 36, 0.8);
        min-height: 500px;
    }

.doctor-cover {
    background-color:#245269;
    padding:100px 50px 100px 50px;
    color:#fff;
}
    /* TESTIMONIAL */
.testimonial-section {
    width: 100%;
    height: auto;
    padding: 25px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    border: 6px solid rgba(234, 234, 234, 1);
    font-size: 17px;
    color: rgba(234, 234, 234, 1);
    line-height: 35px;
}
.testimonial-section:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color:rgba(234, 234, 234, 1);;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial-section-name {
    margin-top: 30px;
    margin-left: 30px;
    text-align:left;
    color: rgba(234, 234, 234, 1);
    font-size:16px;
}
.testimonial-section-name img {
        width:100px;
    height:100px;
        border: 6px solid rgba(234, 234, 234, 1);
    }
.carousel-indicators-set {
    position:static;
    margin-left:0px;
    width:100%;
    color:rgba(234, 234, 234, 1);
}
/*================================
    FEATURES STYLES
==================================*/
#features {
    background-color:rgba(234, 234, 234, 0.90);
}

/*================================
    EMAIL-SUBSCRIBE STYLES
 ============================  */
#email-subscribe{
    height: 100%;
}
#email-subscribe .form-control
{
display:inline;
height:50px;
font-size:20px;
margin-right:20px;
width:60%;
}

#email-subscribe .btn-subscribe
{
height:50px;
font-size:20px;
color: #fff;
background-color: #737373;
border-color: #5C5C5C;
margin-top:-10px;
}

/*================================
    CONATCT SECTION STYLES
==================================*/

#contact {
    background: url(../img/contact.png) no-repeat center center;
    vertical-align: middle;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    margin-bottom: 80px;
    margin-top: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 100%;
}

#contact .overlay {
        vertical-align: middle;
        background-color: rgba(36, 36, 36, 0.8);
        min-height: 350px;
    }

#contact .social a, #contact .social a:hover, #contact .social a:focus {
            margin: 2px;
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.36);
            color: #fff;
            font-size: 25px;
        }

.space {
    height:40px;
}

.contact-cover {
    background-color:#23527c;
    padding:50px 50px 50px 50px;
    color:#fff;
}

.articuloPaty{
    float:left;
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

.articleContent{
    width: 750px;
    margin: 0 auto;
}

/*================================
    FOOTER SECTION STYLES
 ============================  */

#footer {
    background-color:#46b8da; /* color de fondo*/
    margin: 0 auto;
    width: 100%;
    height: 50px; /* ajusta la altura total del footer*/
    display: inline-block;
    line-height:50px;
    position: absolute;
}

/*================================
    RESPONSIVE STYLES
 ============================  */

@media (min-width: 100px) and (max-width: 498px) {
    #email-subscribe .form-control
{
display:block;
width:100%;
}

#email-subscribe .btn-subscribe
{
margin-top:20px;
}

}

#Sing_password {
    height: 36px;
    width: 347px;
}

#Sing_email {
    height: 36px;
    width: 347px;
}

label {
    text-align: left;
}

/*=====================================
    MENU VERTICAL DEL INDEX DE WELCOME
 ====================================  */

#sidebar {
    background-color: #245269; /* color de fondo*/
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 30px;
    position: relative;
    height: 100%;
    overflow-y: auto;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    border-right: 1px solid gray;
    position: fixed;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.course_size{
    height: 510px;
}
.img_size{
    width: 130px;
    height: 130px;
    !important;
}

.centered{
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/*=====================================
    CAROUSEL DEL DICOM LYBRARY
 ====================================  */

#owl-demo .item{
    background: #000000;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    height:300px;
}

.dicom_corousel_img{
    widht:0 auto;
    height:100%;
    background-size: cover;
    background-color: #080808;

}





