<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <title>Telemedicine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
      .navbar-default .navbar-nav > li > a {
          color: #FFF;
          padding-top: 0px;
          line-height: 50px;
      }

  </style>
</head>
<body>

<!-- Header -->
<div id="header" class="navbar navbar-default navbar-fixed-top">
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav", style="padding-left: 18px;">
      <li><%= image_tag("logo.png", width: "65px", height:"50px")%></li>
      <li><p style="font-family: 'Pacifico', cursive; font-size: 30px; margin-top: 10px; padding-left: 19.625px;  line-height: 100%;">Click</p></li>
      <li style="padding-left: 19.625px;"><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Courses for Doctors', courses_doctor_path %></li>
          <li><%= link_to 'Courses for Developers', courses_developer_path %></li>
          <li><%= link_to 'Courses for Researchers', courses_researcher_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Webcasts<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">LMS</a></li>
          <li><a href="#">Skill-Gap</a></li>
          <li><a href="#">Webinar</a></li>
          <li><a href="#">Documentation</a></li>
          <li><%= link_to 'Video Tutorials', "/webcasts/video_tutorials" %></li>
          <li><%= link_to 'Presentations', "/webcasts/presentations" %></li>
          <li><%= link_to 'DICOM Library', "/webcasts/dicom_library" %></li>
          <li><%= link_to 'DICOM Remote Viewing', "/webcasts/dicom_viewing" %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact Us<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/doctors">Our Community</a></li>
          <li><a href="#">By Email</a></li>
          <li><a href="#">Video Conferencing</a></li>
          <li><a href="#">Webchat</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right" , style="padding-right: 18px;">
      <li class="dropdown-toggle">
        <a href="" title="View or edit Board."><i class="ion-ios-browsers-outline", style="font-size: 40px"></i></a>
      </li>
      <li class="dropdown-toggle">
        <!--%= link_to '', webcasts_live_chat_path, :class => "ion-ios-chatboxes-outline", :style => "font-size: 40px;" %-->
        <a href="/webcasts/live_chat" title="Live chat."><i class="ion-ios-chatboxes-outline", style="font-size: 40px"></i></a>
      </li>
      <li class="dropdown-toggle">
        <a href="" title="Get pricing and make purchases."><i class="ion-ios-cart-outline", style="font-size: 40px"></i></a>
      </li>
      <li class="dropdown-toggle">
        <%= link_to '', new_user_registration_path, :title => "Sign in to get pricing, save your Boards and more. Get all the benefits of being a registered user.", :class => "ion-ios-person-outline", :style => "font-size: 40px;" %>
      </li>
      <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </nav>
</div>
<!-- Fin de la Barra a 100% -->

<!-- Contenido-->
<div class="contenedor-total" style="width: 100%;"> <!-- 1024px -->

  <section>
    <%= yield %>
  </section>
  <!-- fin de contenido izq -->
</div>
<div class="limpiar"></div>
<!-- fin de Contenido-->

<div style="clear:both;"></div>

<!-- Footer  -->
<!--footer id="footer">
  <div class="column-container">
    <div class="col-md-9">
      <p style="color: #fff; text-align: center;">All contents © copyright 2015-2025 Health On A Click. All rights reserved; Designed & Developed By:<a href="">Patry's Health Consortium</a></p>
    </div>
    <div class="col-md-3">
      <form class="languages go" method="get" action="/es/docs/Web">
        <label style="padding-right: 5px;">Languajes:</label>
        <select id="language" class="wiki-l10n" name="next" dir="ltr">
          <option>English (US)</option>
          <option>Spanish</option>
          <option>Français</option>
          <option>Português (do&nbsp;Brasil)</option>
          <option>Deutsch</option>
          <option>Italian</option>
        </select>
      </form>
    </div>
  </div>
</footer-->
<!-- fin de Footer  -->

</body>
</html>
