<!-- Styles -->
<style type="text/css">

    body{
        padding-top: 80px;
        padding-bottom: 40px;
    }
    h2 {
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 20px;
        line-height: 40px;
        font-size: 40px;
        color: #0094ff;
        text-align: center;
    }
    label{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        text-align: left;
        color: #080808;
        line-height: 36px;
    }
    .input{
        height: 36px !important;
        margin-bottom: 10px;
        width: 210px;
        padding-left: 10px;
	margin-left: 10px;
    }

</style>

<div class="container", style="width: 80%; margin-left: 33%;">
  <div class="row-fluid">
    <div class="span4 well" style="width: initial;">
      <label style="width: 100%;" align="center" id="txtRegStatus">
      </label>
      <h2>Register</h2>
      <br />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
          <table style='width: 100%' >
	     <tr>
              <td>
                <label style="height: 100%">Name:</label>
              </td>
              <td>
                <%= f.text_field :name, autofocus: true, :class => "input" %>
              </td>
            </tr>
            <tr>
              <td>
                <label style="height: 100%">E-mail:</label>
              </td>
              <td>
                <%= f.email_field :email, autofocus: true, :class => "input" %>
              </td>
            </tr>
            <tr>
              <td>
                <label style="height: 100%">Password:</label>
		<% if @validatable %>
		<em>(<%= @minimum_password_length %> characters minimum)</em>
    		<% end %><br />
              </td>
              <td>
                <%= f.password_field :password, autocomplete: "off", :class => "input" %>
              </td>
            </tr>
	    <tr>
              <td>
                <label style="height: 100%">Password Confirmation:</label>
              </td>
              <td>
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => "input" %>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right" class="actions" style="text-align: center;">
		<%= f.submit "Register", :class => "btn btn-primary", :style => "line-height: 36px, height: 36px" %>
              </td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
  <br />
</div>

<%= render "users/shared/links" %>







